<launch>
	<arg name="map_1_name" default="$(find neuronbot2_multibot)/maps/changhuang_map_1.yaml" />
    <arg name="map_2_name" default="$(find neuronbot2_multibot)/maps/changhuang_map_2.yaml" />
    <arg name="map_3_name" default="$(find neuronbot2_multibot)/maps/changhuang_map_3.yaml" />
    <include file="$(find neuronbot2_multibot)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value=""/>
	    <arg name="map_name" value="$(arg map_1_name)" />
        <arg name="x_pos" value=" 0.2"/>
        <arg name="y_pos" value=" 0.2"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf_publisher" args="0 0 0 0 0 0 world map" /> 
    <rosparam command="load" ns="" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />
    <include file="$(find neuronbot2_multibot)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value="nb2_1"/>
	    <arg name="map_name" value="$(arg map_2_name)" />
        <arg name="x_pos" value=" 0.2"/>
        <arg name="y_pos" value=" 0.2"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf_publisher" args="0 4 0 0 0 0 world nb2_1/map" ns="nb2_1"/> 
    <rosparam command="load" ns="nb2_1" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />
    <include file="$(find neuronbot2_multibot)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value="nb2_2"/>
	    <arg name="map_name" value="$(arg map_3_name)" />
        <arg name="x_pos" value=" 0.2"/>
        <arg name="y_pos" value=" 0.2"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf_publisher" args="0 -4 0 0 0 0 world nb2_2/map" ns="nb2_2"/> 
    <rosparam command="load" ns="nb2_2" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neuronbot2_multibot)/rviz/view_changhuang_navigation_multibot.rviz" />
</launch>