<launch>
	<arg name="map_name" default="$(find neuronbot2_multibot)/maps/house.yaml" />
    <include file="$(find neuronbot2_nav)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value=""/>
	    <arg name="map_name" value="$(arg map_name)" />
        <arg name="x_pos" value="-7.0"/>
        <arg name="y_pos" value=" 2.0"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <include file="$(find neuronbot2_nav)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value="nb2_1"/>
	    <arg name="map_name" value="$(arg map_name)" />
        <arg name="x_pos" value=" 7.0"/>
        <arg name="y_pos" value="-1.0"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <include file="$(find neuronbot2_nav)/launch/neuronbot2_nav.launch">
        <arg name="namespace" value="nb2_2"/>
	    <arg name="map_name" value="$(arg map_name)" />
        <arg name="x_pos" value=" 0.5"/>
        <arg name="y_pos" value=" 3.0"/>
        <arg name="yaw" value=" 0.0"/>
    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neuronbot2_multibot)/rviz/view_navigation_multibot.rviz" />
</launch>